<h4 class="table-header">Graduates</h4>
<table class="bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Graduation Date</th>
      <th>Accepted Offer?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.graduation_date %></td>
        <% if user.id == @accepted_offer[0].id %>
          <td>YES</td>
        <% else %>
          <td>NO</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>