<h4 class="table-header">Users</h4>
<table class="bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Graduation Date</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.graduation_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>